@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Pacifico&display=swap');


@font-face {
    font-family: "Ogg Roman";
    src: url("https://db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.eot");
    src: url("https://db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.svg#Ogg Roman")format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify{
    /* font-family: 'Nunito',sans-serif; */
    font-family: 'Pacifico', cursive;
    font-weight: 600;
}

*{
    font-family: "Ogg Roman";
    letter-spacing: 0.05em;
}

.logo{
    font-family: 'Pacifico', cursive;
}



